body{
    margin: 0;
}


.header-content1 {
    background-image:url(Pics/Coconut-Beach.jpg) ;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 665px;
   }
h1{
    width: 1500px;
    height: 60px;
    padding-top: 150px;
}

p1{
    text-align: center;
    font-weight: 650;
    line-height: 0.5;
    font-size: 25;
    font-family: Barlow Condensed,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    color: aliceblue;
    margin-left: 100px;
    padding-left: 100px;
    padding-right: 100px;
}