body{
    margin: 0;
}


.header-content1 {
    background-image:url("Pics/Tanz img/katesh-mountain.jpg") ;
    background-position: 50%;
    background-size: cover;
    position: relative;
    height: 665px;
   }
h1{
    /*width: 1500px;*/
    height: 60px;
    padding-top: 10%;
    color: aliceblue;
}
